[Unit]
Description="Mount proton drive"
After=network-online.target
StartLimitIntervalSec=5

[Service]
Type=Exec
Restart=on-abnormal
ExecStart=rclone mount --vfs-cache-mode=full proton: /mnt/proton

[Install]
WantedBy=default.target
